header
    .header
        .header--section
            .header--section__item
                a(href="#") Home
        .header--section
            .header--section__item
                a(href="#") About
